html *, body {
    font-family: 'Titillium Web', sans-serif;
}

.vertical-spacer {
  height: 2em;
}

h2 {
    font-size: 35pt;
    color: #198ee8;
    padding-bottom: 20px;
}

h3 {
    font-size: 25pt;
}

p, ul {
    font-size: 18pt;
    font-weight: 300;
}

p + h5 {
    margin-top: 50px;
}

a {
}
a:hover {
  text-decoration: none;
}
a.email {
  font-weight: bold;
}
.logo {
    text-align: center;
}

.header {
    position: relative;
    visibility: visible;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: 50% top;
    height: 705px;
}

.header-subpage,
.header-micropage {
    background-color: #198ee8;
    height: 280px;
}

.background-overlay {
    position: absolute;
    top: 0;
    padding-left: 80px;
    padding-top: 60px;
}

.static-overlay,
.micropage-overlay {
/*     position: absolute; */
    top: 0;
/*     padding-left: 80px; */
    padding-top: 60px;
}

.legallink-micropage {
  position: absolute;
  top:10px;
  left: 15px;
}

.legallink-micropage a{
  color: #fff;
  font-size: 16pt;
        padding-right: 8px;
}

.legallink-footer a{
  color: #ccc;
  font-size: 12pt;
    padding-right: 15px;
}

.legallink-footer {
  margin-top: 15px;
  text-align: left;
}

.langmenu-text {
  position: absolute;
  top:10px;
  right: 15px;
}

.langmenu-text a,
.langmenu-text span{
  font-size: 16pt;
  font-weight: 100;
  color: #fff;
}

.langmenu-text a.lang-active,
.langmenu-text span.lang-active{
  color: #6bc4ff; 
}

.langmenu-text a:hover{
  color: #eee;
}

.langmenu-text li{
  margin-left: 5px;
  
}


.background-overlay h1 {
    font-weight: 200;
    color: #fff;
     text-align: center;
}

.background-overlay .chat {
    margin-top: 20px;
}

.background-overlay .chat .chat-message {
    padding-bottom: 32px;
}

.background-overlay .chat .chat-message.from-right {
    background: url(../img/message-from-right-blue.png) no-repeat 570px bottom;
}

.background-overlay .chat .chat-message.from-left {
    background: url(../img/message-from-left-trans50.png) no-repeat 40px bottom;
}

.background-overlay .chat .chat-message .message-content {
    position: relative;
    background-color: rgba(0,0,0,.5);
    width: 370px;
    color: #fff;
    font-size: 20pt;
    font-weight: 200;
    padding: 15px 30px;
}

.background-overlay .chat .chat-message.from-right .message-content {
    background-color: rgba(81,154,252,.7);
    left: 255px;
}

.language-switcher {
    position: absolute;
    top: 20px;
    right: 140px;
    z-index: 2;
}

.language-switcher span {
    display: inline-block;
    color: #fff;
    font-size: 12pt;
    font-weight: 200;
    margin-right: 20px;
    line-height: 22px;
    vertical-align: top;
}

a.select-language {
    height: 22px;
    width: 32px;
    display: inline-block;
    margin-left: 8px;
}

a.select-language:active,
a.select-language:focus {
    outline: 0;
}

/*
a.select-language-de {
    background-image: url(../img/flag-de-bw.png);
}
a.select-language-de:hover,
a.select-language-de.active {
    background-image: url(../img/flag-de.png);
}

a.select-language-at {
    background-image: url(../img/flag-at-bw.png);
}
a.select-language-at:hover,
a.select-language-at.active {
    background-image: url(../img/flag-at.png);
}

a.select-language-ch {
    background-image: url(../img/flag-ch-bw.png);
}
a.select-language-ch:hover,
a.select-language-ch.active {
    background-image: url(../img/flag-ch.png);
}

a.select-language-ca {
    background-image: url(../img/flag-ca-bw.png);
}
a.select-language-ca:hover,
a.select-language-ca.active {
    background-image: url(../img/flag-ca.png);
}

a.select-language-uk {
    background-image: url(../img/flag-uk-bw.png);
}
a.select-language-uk:hover,
a.select-language-uk.active {
    background-image: url(../img/flag-uk.png);
}
*/
.content {
    position: relative;
    top: 0;
    z-index: 100;
    padding:0px;
    margin:0px;
}

#how, .more {
    padding: 40px 0 80px;
    background-color: #fff;
}
.more {
    padding: 40px 80px 80px;
}

#how h3 {
    font-size:28px;
}

#how h3.subtitle {
    color: #198ee8;
    padding-bottom: 20px;
}

#how h3.subtitle a.selected{
    text-decoration: underline;
}

#how h4 {
    font-size:22pt;
    font-weight: 300;
    margin-top: 20px;
}

#how .examples li {
    font-size:18pt;
    font-weight: 300;
}

ul.examples {
    list-style-type: square;
}

.faq  {
/*     padding: 60px 140px; */
}
.faq .question {
    font-size: 18pt;
    font-weight: 600;
    color: #000;
    display: block;
/*     border-bottom: 1px solid #ccc; */
    padding:25px 0 15px;
}

.subscribe-button {
    background-color: #00b233;
    color: #fff;
    font-size:18pt;
    font-weight: 200;
    padding: 10px 40px;
    border-radius: 0;
    border:0;
}

.subscribe-button:hover {
    background-color: #fff;
    color: #00b233;
}

header .subscribe-button {
    /*
                position: absolute;
                bottom: 60px;
                right: 140px;
    */
}
/*
        .about-us .subscribe-button {
            margin-top: 22px;
        }
*/
.about-us {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 60px 0; 
    margin:0;
}

.about-us h3 {
    font-weight: 600;
}

.about-us p {
    font-weight: 200;
}

.about-us p,
.about-us h3 {
    font-size: 22pt;
}


.footer {
    background: url(../img/bg-footer.jpg) no-repeat fixed center bottom;
    background-color: #fff;
    background-size: cover;
    padding: 140px 80px;
}

.footer img {
    margin-bottom: 50px;
}

.footer h3 {
    font-weight: 600;
    font-size: 20pt;
}

.footer p {
    font-weight: 200;
    font-size: 15pt;

}
/*
.more p, .more p a, .more p a:active,  .more p a:link,  .more p a:hover,  .more p a:visited
.more p a:active, .more p a:hover
{
    color: black;
}
*/
.more p, .more p a, .more p a:link, .more p a:visited
{
    color: black;
}


.ende
{

    margin:0px;
    padding: 10px auto 40px;
}
.ende p {
    margin: 0;
    font-size: 18px;
}
.screen
{
    background:white;
    margin:0px;

}
.reference-images {
    padding-top:5px;
}
.screen-image {
    text-align: center;
}
/*.screen .screen-image
{
    background: white url(../img/chat5_de.jpg);
    height:552px;
    background-position:center bottom;
    background-repeat: no-repeat;
    padding-bottom: 0px !important;
    background-size: contain;
    width:90%;
    margin:0px auto;
}
#uk .screen .screen-image, #ca .screen .screen-image {
    background: white url(../img/chat5_en.jpg);
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: contain;    
}*/

/* Impressum */
.term ul, .term p, .term ol,
.dataprotection ul, .dataprotection p, .dataprotection ol{
  font-size:15px;  
}
/* modal */
.modal-backdrop {
    opacity: .7 !important;
}

.modal-dialog {
    width: 70%;
}

.modal-content {
    border-radius: 0;
    background-color: #237fc6;
    color: #fff;

}

.modal-header {
    border-bottom: 0;
}

.modal-header button.close {
    color: #fff;
    opacity: 1;
    font-weight: 200;
}

.modal-title {
    padding: 60px 40px 10px;
    font-size: 28pt;
}

.modal-body {
    font-size: 20pt;
    padding: 0 100px 0 55px;
    font-weight: 200;
}

.modal-footer {
    border-top: 0;
    padding: 60px 0 140px 55px;
    text-align: left;
}

.subscription-email {
    color: #000;
    border: 0;
    border-radius: 0;
    font-size: 18pt;
    padding: 10px 40px;
    font-weight: 200;
    vertical-align: middle;
}

.subscription-submit {
    background-color: #dc8039;
    height: 80px;
    width: 200px;
    border: 0;
    font-size: 20pt;
    font-weight: 400;
    margin-left: 40px;
}
.overlay {
    background-color: rgba(0,0,0,.5);
    margin-top: 60px;
}
/*
.subscription {
    width: auto;
    text-align: center;
     padding: 20px 80px;
}

.header .subscription {
    height:auto;
    width: 807px;

   /* margin-left: 80px;
    
}*/
/*
.header .sub-topwidth {
    position: absolute;
    top: 0;
    margin-top: 435px;
}*/
/*.sub-layer {
   background-color: rgba(0,0,0,.5);
    padding:15px;
}*/

.subscription-text {
    color: #fff;
    font-size: 20pt;
    font-weight: 200;
    text-align: center;
    padding-bottom: 5px;
}
.subscription.content-subscription {
    margin-left: auto;
    margin-right: auto;
/*     width: 800px; */
      padding-bottom: 0;
}
.subscription.content-subscription .sub-layer {
    background:0 none;
}
.content-subscription .subscription-text {
    text-align: center;
}

.arrow{

     text-align: center;
            width:100%;
             font-size:70px;
}
/*
.glyphicon-chevron-up {
    color: rgba(0, 0, 0, 0.5);
}
.glyphicon-chevron-down:hover, .glyphicon-chevron-down:focus, .glyphicon-chevron-down:active{
    color: #fff;
    text-decoration: none;
}
.glyphicon-chevron-up:hover, .glyphicon-chevron-up:focus, .glyphicon-chevron-up:active {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}*/
.hovering {
-webkit-animation-name: hovering;
-webkit-animation-duration: 3s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-moz-animation-name: hovering;
-moz-animation-duration: 3s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: ease-in-out;
animation-name: hovering;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}
@-webkit-keyframes hovering {
from {-webkit-transform:translate(0, 0px);}
50% {-webkit-transform:translate(0, -15px);}
to {-webkit-transform: translate(0, -0px);}
}
@-moz-keyframes hovering {
from {-moz-transform:translate(0, 0px);}
50% {-moz-transform:translate(0, -15px);}
to {-moz-transform: translate(0, -0px);}
}
@keyframes hovering {
from {transform:translate(0, 0px);}
50% {transform:translate(0, -15px);}
to {transform: translate(0, -0px);}
}



/* ---------- Slider ---------- */

#slider {
    margin-bottom: 15px;
    min-height: auto;
}
#slider .item > div {
    float:left;
}
    #slider a .glyphicon {
    font-size: 65px;
    padding-bottom: 20px;
    width: 100%;
}
     .container-slider {
    background-color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
    position: relative;
        width: 100%;
        z-index: -500;
    }

/* carousel-indicators */
.carousel-indicators li {
    background-color: #7b98ac;
    border: 0 none;
    border-radius: 0;
    margin: 3px;
    height: 10px;
}
#carousel-indicators .active {
    background-color: #012f6d;
    border: 0 none;
    height: 10px;
    margin: 3px;
    width: 10px;

}
.carousel-indicators {
    bottom: -7px;
}
.carousel-indicators .active {
    background-color: #333;
    height: 10px;
    width:10px;
}
.carousel-indicators li {
    background-color: #666;
    margin: 0 5px;
}
.carousel-indicators .active {
    margin: 0 5px;
}
.carousel {
    padding: 0 45px;
}
/* carousel-control */
.carousel-control.right, .carousel-control.left{
       background-image: none;
}
.contraol-arrows {
    position: relative;
    top: 45%;
    width: 35px;
}
#slider .item > img {
           margin-left: auto;
    margin-right: auto;
    width: auto;
}

.payment-message{
      display: inline-block;
      padding-left: 10px;
    }
    
.payment-icon{
  display: inline-block;
  vertical-align: top;
}



@media (max-width:700px) {
    .chat {
        display: none;
    }

    .background-overlay h1 {
        text-align: center;
    }

}

@media (max-width:568px) {
    .header-layer .language-switcher span,
    .header-subpage .language-switcher span {
        display: none;
    }
    header .header-layer {
        height:275px;
    }
    .background-overlay {
        padding-top: 20px;
    }
    .header-layer .background-overlay .logo,
    .header-subpage .background-overlay .logo  {
            padding-top: 50px;
    }
        
    .header .header-layer .overlay {
    margin-top: 15px;
    }
    .reference-images {
        width: 100%;
    }
    
}

@media (max-height:900px) {
    .chat {
        display: none;
    }



 /*   .subscription {
     padding: 20px 80px;
    }*/
}

@media (max-height:580px) {

    .background-overlay h1 {
        margin-top: 40px;
        font-size: 20pt;
    }
}

@media (max-height:400px) {

    .background-overlay h1 {
        margin-top: 20px;
        font-size: 15pt;
    }

}

@media (max-width:1200px) {
    .header .subscription-text {
        font-size: 16pt;
    }
}



@media (max-width:991px) {
    .ende .col-md-9 {
        text-align: left!important;
    }
    
  .language-switcher {
        right: 10px;
    }
    .subscription.content-subscription {
    width: auto;
    padding:0;
}
    .more {
    padding: 40px 0 80px;
}
}

@media (max-width:968px) {
    .about-us .subscribe-button {
        width: 336px;
    }   
}

/*@media (max-width:1350px) {
   .screen .screen-image {
    background: white url(../img/chat3_de.jpg);
      background-position:center bottom;
      background-repeat: no-repeat;   
      background-size: contain;
  }     
  #uk .screen .screen-image , #ca .screen .screen-image  {
    background: white url(../img/chat3_en.jpg);
      background-position:center bottom;
      background-repeat: no-repeat;
    background-size: contain;     
  } 
}*/

@media (max-width:850px) {
    .background-overlay {
        padding-right: 20px;
        padding-left: 20px;
        left: 0;
        right: 0;
    }
.header .subscription {
    width: 100%;
}
.header .sub-topwidth {
    margin-top:315px;
}
    .header .subscription-text {
        display: none;
    }
    .background-overlay h1 {
        font-size: 17pt;
    }
        .logo {
            padding-top:18px;
    }
   .header-micropage .logo {
            padding-top:0;
    }

 /*   .screen div {
        height: 360px;
    }*/
}
@media (max-width:767px) {
/*  .language-switcher span { */
/*         display: none; */
/*     } */
  .header {
      background-color: #198ee8;
      background-image: none;
      height: 630px;
    }
    .header-layer {
        background-color: #198ee8;
        height: 278px;
    }
    
    .header-micropage {
      height:125px;
    }
    
    .header-micropage .lang-active {
    border: none !important;
  }
    
    .header-micropage .micropage-overlay .logo {
            padding-top: 0;
    }
    
    .header-micropage .micropage-overlay{
            padding-top: 45px;
    }
    
    .langmenu-text {
    top:0;
    z-index: 1;
  }
  
  .langmenu-text a,
  .langmenu-text span {
    font-size: 10pt;
  }
  
  .legallink-micropage a{
    font-size: 10pt;
  }
  
  .legallink-footer a{
    font-size: 8pt;
    padding-right: 15px;
  }
  
  
  .legallink-footer {
    margin-top: 0;
  }
    
    .payment-message{
      padding-left: 5px;  
      height: 70px;
    }
    
    .static-overlay {
  /*     position: absolute; */
      top: 0;
  /*     padding-left: 80px; */
      padding-top: 15px;
  }
  
  .paypal label{
    font-size: 11pt !important;
      display: block;
      float: left;
      padding-left: 25px;
      position: relative;
  }
  
  .paypal input {
     position: absolute;
      left: 15px;
  }
    
  
  
  .paypal {
    text-align:left;
  }
  
        
/*     .language-switcher{ */
/*      top:10px; */
/*      width: 100%; */
/*     } */
    
    #countrymenu{
/*      position:absolute !important; */
/*      left:20px !important; */
    float:right;
    }
    
/*     #langmenu{ */
/*      position:absolute !important; */
/*      right: 10px !important; */
    float:right;
/*     } */
    
    .blue-xs {
      background-color: #198ee8;
      color: #fff;
  }
}

@media (max-width:768px) {
   
    .header .subscription-email,
    .header .subscribe-button {
        font-size:12pt;
        padding: 16px 30px;
    }

  /*  .about-us {
        padding: 60px 80px;
    }*/
    
        .background-overlay {
    position:relative;
    padding-left: 0;
    padding-right: 0;
    }
  .header-layer .overlay {
      background-color: #333;
      float: left;
      margin-top: 10px;
      width: 100%;
  }
  /*  .ende {
         padding: 10px;
    }*/
    .sub-layer {padding-bottom: 15px;}
    
    

   /* .screen div {
        height: 310px;
    }*/

    .header video {
        display: none;
    }
  .header .sub-topwidth {
      position: relative;
      top: 0;
      margin-top: 328px;
  }
  .header .lang-active {
    border: 1px solid #fff;
  }    
}

@media (max-width:530px) {

 /*   .screen div {
        height: 220px;
    }*/
    
}

@media (max-width:500px) {
    .header .subscription-email,
    .header .subscribe-button {
        font-size:12pt;
        padding: 16px 20px;
    }

    .header .subscription-email {
        width: 150px;
    }

  /*  #how,
    .about-us,
    .faq,
    .footer {
        padding: 30px 40px;
    }*/

    .footer h2,
    .faq h2,
    #how h2 {
        font-size: 25pt;
    }
    
    .text-small p,
    p.text-small{
      font-size: 13pt;
    }
    
    .text-xsmall p,
    p.text-xsmall,
    span.text-xsmall {
      font-size: 10pt;
    }
    
    
    .text-bold,
    .text-bold p{
      font-weight: 600;
    }
    
    input.paypal-submit {
      font-size: 12pt;
    }

}

@media (max-width:450px) {
    .about-us .subscription-email,
    .about-us .subscribe-button {
        font-size: 14pt;
        padding: 20px 30px;
        width: 240px;
    }

    .about-us p {
        font-size: 18pt;
    }
}

@media (max-width:380px) {
    .header .subscription-email,
    .header .subscribe-button {
        font-size:12pt;
        padding: 16px 15px;
    }

    .header .subscription-email {
        width: 80px;
    }
.contraol-arrows {
    top: 45%;
    width: 25px;
}

 /*   #how,
    .about-us,
    .faq,
    .footer {
        padding: 30px 20px;
    }*/
}
#down {
  background: url("../img/down.png") no-repeat center bottom;
  margin: 0 auto;
  height: 80px;
  width: 100%;
  position: absolute;
}

#countrymenu {
    float:right;
}

/*#coutrymenu select[size] {
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}*/
/* #langmenu { */
/*     float:right; */
/* } */
#langmenu li {
    float: right;
    list-style: outside none none;
}




/* Prefinery */
/* .row, .form-group { */
/*     display: inline-block; */
/* } */

.form-group {
    padding: 0;
}


.pfy-form-submit-row{
    clear: both;
}

.pfy-form-row, .pfy-form-submit-row {
   width:100%;
      margin-left: auto;
    margin-right: auto;
    

}
.form-group {
    width: 100%;
}
.btn-primary {
    background-color: #198ee8;
    color: #fff;
    font-size:18pt;
    font-weight: 200 !important;
    padding: 10px 40px;
    border-radius: 0;
    border:0;
    display: inline;
}

.btn-primary:hover {
    background-color: #fff;
    color: #198ee8;
}
.btn-primary.pay {
  width: auto;
}
.form-control {
    color: #000;
    border: 0;
    border-radius: 0;
    font-size: 18pt;
    padding: 10px 20px;
    font-weight: 200 !important;
    vertical-align: middle;
    display: inline;
    height: auto;
}
.btn-primary, .form-control {
  width: 100%;
    font-size: 18pt;
    padding: 11px 30px;
    text-align: center;
}

#pfy-thanks-embed, #pfy-thanks, #pfy-error {
    border-radius: 0;
    display: inline-table;
    font-size: 19px;
    height: 100%;
    line-height: 32px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.alert > p, .alert > ul {
/*     display: table-cell; */
    vertical-align: middle;
}


@media (max-width:500px) {
  
    #pfy-thanks-embed, #pfy-thanks, #pfy-error{
        line-height: 27px;
    }

}


@media (max-width:380px) {
  
    .pfy-form-row {
        right: 216px;
    }
   #pfy-thanks-embed, #pfy-thanks, #pfy-error{
        font-size: 17px;
    }
   .btn-primary, .form-control {
    font-size: 15pt;
    padding: 11px;
    text-align: center;
    width: 100%;
}

}
#pfy-error {
    display: none !important;
}

#pfy-share-form-container h3,
#pfy-share-form-container h4 {
    color: #fff;
}

/* Landingpages */
                
                
.box {
    background: none repeat scroll 0 0 #f0f0f0;
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
    font-size:18pt;
    margin: 40px auto;
}

.row {
  margin: auto;
}
.box ul {
    text-align: left;
}

/* Anpassungen */

.box h2 {
  text-align: center;
}

.howto{
  font-weight: 300;
}

/* Landing page */
input.paypal:hover {
  background-color: #008ac5;
}

input.paypal-submit {
    background-color: #009cde;
    border: medium none;
    border-radius: 4px;
    color: #f9f9f9;
    float: left;
    font-size: 16pt;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

input.paypal-submit:hover {
    background-color: #008ac5;
}

.paypal label{
  font-size: 16pt;
    font-weight: 600;
    
}

.paypal input {
  height: 16px;
  width:16px;
  margin-right:10px;
}

.text-small p,
p.text-small{
  text-align: left;
}

.text-xsmall,
.text-xsmall p,
p.text-xsmall,
span.text-xsmall {
  text-align: left;
}

.text-right {
  float:right;
}

.text-bold,
.text-bold p{
  font-weight: 600;
}

/* Flags */
img.lang-active {
  border: 2px solid;
}

img.lang-inactive {
  margin: 2px;
}

.header-subpage .lang-active{
    border: 1px solid #fff;
  } 
  
div.border-light{
  border-bottom: 1px solid #ccc;
}

div.box-margin {
  padding-top: 12px;
}

p.text-blue {
  color: #198ee8;
}

p.text-bold {
  font-weight: 700;
}

p.text-left {
  float:left;
}
  
/* Social Buttons*/

.element{

  display: inline-block;
  position: relative;
/*   color: #fff; */
/*   display: table; */
/*   margin: 100px auto; */
/*   position: absolute; */
/*   left: 50%; */
/*   margin-left: -400px; */
/*   top: 50%; */
/*   margin-top: -90px; */
}

.element .group{
  display: inline-block;
  position: relative;
  cursor:pointer;
  margin: 0 5px;
}

.element button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 2px;
  cursor: inherit;
  border:0;
  color:#ffffff;
  width: 100px;
  outline: 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.fb{
  background-color: #306199;
}

.fb:hover{
  background-color: #244872;
}



.count{
  background-color: #fff;
  color: #565656;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  height: 40px;
}

.fa-caret-down{
  position: absolute;
  margin-top: -22px;
  text-align: center;
  right: 10px;
  font-size: 28px;
}

.gp{
  background-color: #e93f2e;
}

.gp:hover{
  background-color: #ce2616;
}

.linkedin{
  background-color: #007bb6;
}

.linkedin:hover{
  background-color: #005983;
}

.twitter{
  background-color: #26c4f1;
}

.twitter:hover{
  background-color: #0eaad6;
}

.pinterest{
  background-color: #b81621;
}

.pinterest:hover{
  background-color: #8a1119;
}

.instagram{
  background-color: #675144;
}

.instagram:hover{
  background-color: #523d32;
}
 
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
/* End social buttons */

